
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@{ var i = 0;}
<section class="awe-section-1">
    <div class="section_slider home-slider swiper-container evo-width-slider">
        <div class="swiper-wrapper">    
            <div class="swiper-slide">
                <a href="@Url.Action("Index")" class="clearfix" title="Bảng giá các dịch vụ Washintown">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_1811e.jpg">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_2811e.jpg">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_3811e.jpg">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_4811e.jpg">
                        <img width="1808" height="600" src="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_5811e.jpg"
                             alt="Bảng giá các dịch vụ Washintown" />
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="phuc-hoi-giay-toan-dien.html" class="clearfix" title="Sneaker Retouch - Phục hồi toàn diện">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_2811e.jpg?1751540074929">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_2811e.jpg?1751540074929">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_2811e.jpg?1751540074929">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_2811e.jpg?1751540074929">
                        <img width="1808" height="600" src="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_2811e.jpg?1751540074929"
                             alt="Sneaker Retouch - Phục hồi toàn diện" />
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="phuc-hoi-giay-toan-dien.html" class="clearfix" title="Sneaker Retouch - Phục hồi giày">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_3811e.jpg?1751540074929">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_3811e.jpg?1751540074929">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_3811e.jpg?1751540074929">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_3811e.jpg?1751540074929">
                        <img width="1808" height="600" src="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_3811e.jpg?1751540074929"
                             alt="Sneaker Retouch - Phục hồi giày" />
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="ve-lai-logo-giay.html" class="clearfix" title="Sneaker Retouch - Vẽ lại Logo">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_4811e.jpg?1751540074929">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_4811e.jpg?1751540074929">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_4811e.jpg?1751540074929">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_4811e.jpg?1751540074929">
                        <img width="1808" height="600" src="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_4811e.jpg?1751540074929"
                             alt="Sneaker Retouch - Vẽ lại Logo" />
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="ve-sinh-giay-sneakers.html" class="clearfix" title="Vệ sinh giày">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_5811e.jpg?1751540074929">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_5811e.jpg?1751540074929">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/slider_5811e.jpg?1751540074929">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_5811e.jpg?1751540074929">
                        <img width="1808" height="600" src="@Url.Content("~/content/client/")thumb/large/100/431/113/themes/826533/assets/slider_5811e.jpg?1751540074929"
                             alt="Vệ sinh giày" />
                    </picture>
                </a>
            </div>


        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="awe-section-2">
    <div class="section_search_feature container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 item item-1">
                <div class="icon-wrapper">
                    <img class="lazy" width="100" height="100" src="@Url.Content("~/Content/Client/Images/feature_search_image_1.svg")" alt="Logo">
                </div>
                <div class="detail">
                    <a href="" title="Miễn phí vận chuyển">Free Shipping</a>
                    <p>Free shipping for orders over 200,000 VND (*) Applicable in District 1 only</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 item item-2">
                <div class="icon-wrapper">
                    <img class="lazy" width="100" height="100" src="@Url.Content("~/Content/Client/Images/feature_search_image_2.svg")" alt="Trả 0đ khi không hài lòng" />
                </div>
                <div class="detail">
                    <a href="#" title="Trả 0đ khi không hài lòng">No charge if you're not satisfied</a>
                    <p>No charge if you're not satisfied with our service and quality.</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-6 item item-3">
                <div class="icon-wrapper">
                    <img class="lazy" width="100" height="100" src="@Url.Content("~/Content/Client/Images/feature_search_image_3.svg")" alt="Bảo hành chất lượng" />
                </div>
                <div class="detail">
                    <a href="#" title="Bảo hành chất lượng">Quality Guarantee</a>
                    <p>We guarantee the quality of the product after care and restoration.</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-6 item item-4">
                <div class="icon-wrapper">
                    <img class="lazy" width="100" height="100" src="@Url.Content("~/Content/Client/Images/feature_search_image_4.svg")" alt="Phương thức thanh toán" />
                </div>
                <div class="detail">
                    <a href="#" title="Phương thức thanh toán">Payment Methods</a>
                    <p>Payment is supported via Momo, bank accounts, and various other payment gateways.</p>

                </div>
            </div>
        </div>
    </div>
</section>




<section class="awe-section-3">
    <div class="container section_banner">
        <div class="hotdeal-title">Featured Services</div>
        <div class="e-tabs not-dqtab ajax-tab-0" data-section="ajax-tab-0">
            <ul class="tabs tabs-title tab-desktop ajax clearfix evo-close">
                @foreach (var service in Model.Services)
                {
                    if (i <= 3)
                    {
                        <li class="tab-link has-content" data-tab="tab-1" data-url="/ve-sinh-sneaker" title="Vệ sinh Sneaker">
                            <a href="@Url.Action("DetailService", "Home", new { id = service.Id })" />
                            <span class="imgss">

                                <img class="lazy" src="@Url.Content("~/content/client/")images/@service.Image" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/collections/ve-sinh-giay-sneaker.png?v=1675762173643" alt="Vệ sinh Sneaker" />

                            </span>
                            @service.Title
                        </li>

                        i++;
                    }
                    else
                    {
                        break;
                    }
                }

                @*<li class="tab-link has-content" data-tab="tab-1" data-url="/ve-sinh-sneaker" title="Vệ sinh Sneaker">
                        <span class="imgss">

                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/collections/ve-sinh-giay-sneaker.png?v=1675762173643" alt="Vệ sinh Sneaker" />

                        </span>
                        Vệ sinh Sneaker
                    </li>


                    <li class="tab-link " data-tab="tab-2" data-url="/cham-soc-giay-da" title="Vệ sinh giày da">
                        <span class="imgss">

                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/collections/cham-soc-giay-da.png?v=1675762145853" alt="Vệ sinh giày da" />

                        </span>
                        Vệ sinh giày da
                    </li>


                    <li class="tab-link " data-tab="tab-3" data-url="/phuc-hoi-giay" title="Phục hồi giày">
                        <span class="imgss">

                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/collections/phuc-hoi-giay-copy.png?v=1675762114800" alt="Phục hồi giày" />

                        </span>
                        Phục hồi giày
                    </li>


                    <li class="tab-link " data-tab="tab-4" data-url="/sua-giay" title="Sửa chữa">
                        <span class="imgss">

                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/collections/sua-chua-giay-copy.png?v=1675762130743" alt="Sửa chữa" />

                        </span>
                        Sửa chữa
                    </li>*@

            </ul>

            <div class="tab-1 tab-content">

                <div class="evo-owl-product3 swiper-container products-view-grid">




                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="ve-sinh-giay-sneakers.html" title="Vệ sinh gi&#224;y Re-fresh">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/ve-sinh-giay-re-fresh-jpg-v-1751370089100.jpg?v=1751370118623" alt="Vệ sinh gi&#224;y Re-fresh" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/ve-sinh-giay-refresh-copy.jpg?v=1751370118623" alt="Vệ sinh gi&#224;y Re-fresh" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22274623">


                                        <input type="hidden" name="variantId" value="49745879" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="ve-sinh-giay-sneakers"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="ve-sinh-giay-sneakers.html" title="Vệ sinh gi&#224;y Re-fresh" class="title">Vệ sinh gi&#224;y Re-fresh</a>
                                <div class="flex-prices">


                                    <strong class="product-price">79.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="swiper-slide">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="cham-soc-giay-sneaker-cao-cap.html" title="Chăm s&#243;c gi&#224;y Sneaker cao cấp">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/cham-soc-giay-sneaker-cao-cap-jpg-v-1751429147177.jpg?v=1751429180120" alt="Chăm s&#243;c gi&#224;y Sneaker cao cấp" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/cham-soc-giay-sneaker-cao-cap-copy.jpg?v=1751429180120" alt="Chăm s&#243;c gi&#224;y Sneaker cao cấp" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22274618">


                                        <input type="hidden" name="variantId" value="49745880" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="cham-soc-giay-sneaker-cao-cap"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="cham-soc-giay-sneaker-cao-cap.html" title="Chăm s&#243;c gi&#224;y Sneaker cao cấp" class="title">Chăm s&#243;c gi&#224;y Sneaker cao cấp</a>
                                <div class="flex-prices">


                                    <strong class="product-price">99.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="swiper-slide">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="cham-soc-ve-sinh-giay-toan-dien.html" title="Chăm s&#243;c vệ sinh gi&#224;y to&#224;n diện">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/cham-soc-ve-sinh-giay-toan-dien-jpg-v-1751419298467.jpg?v=1751419341220" alt="Chăm s&#243;c vệ sinh gi&#224;y to&#224;n diện" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/cham-soc-ve-sinh-giay-toan-dien.jpg?v=1751419341220" alt="Chăm s&#243;c vệ sinh gi&#224;y to&#224;n diện" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-29656216">


                                        <input type="hidden" name="variantId" value="82262597" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="cham-soc-ve-sinh-giay-toan-dien"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="cham-soc-ve-sinh-giay-toan-dien.html" title="Chăm s&#243;c vệ sinh gi&#224;y to&#224;n diện" class="title">Chăm s&#243;c vệ sinh gi&#224;y to&#224;n diện</a>
                                <div class="flex-prices">


                                    <strong class="product-price">139.000₫</strong>


                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>


            </div>

            <div class="tab-2 tab-content">

            </div>

            <div class="tab-3 tab-content">

            </div>

            <div class="tab-4 tab-content">

            </div>

        </div>
    </div>
</section>

<section class="awe-section-4">
    <section class="section_why">
        <div class="container">
            <div class="hotdeal-title">Why Us</div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 col-step">
                    <div class="image_step">
                        <img class="lazy" src="@Url.Content("~/Content/Client/Images/step_11f0e.png")" alt="Tận tâm" />
                    </div>
                    <h3 class="title_step">
                        Dedicated
                    </h3>
                    <p>
                        Our dedicated and enthusiastic team is always committed to delivering the most satisfying experience to our customers.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 col-step">
                    <div class="image_step">
                        <img class="lazy" src="@Url.Content("~/Content/Client/Images/step_21f0e.png")" alt="Tiện lợi" />
                    </div>
                    <h3 class="title_step">
                        Convenient
                    </h3>
                    <p>
                        In addition to quality, we consistently emphasize convenience and flexibility in all situations.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 col-step">
                    <div class="image_step">
                        <img class="lazy" src="@Url.Content("~/Content/Client/Images/step_31f0e.png")" />
                        <h3 class="title_step">
                            Quality
                        </h3>
                        <p>
                            With modern equipment and professional tools, we constantly strive to improve our quality
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 col-step">
                    <div class="image_step">
                        <img class="lazy" src="@Url.Content("~/Content/Client/Images/step_41f0e.png")" alt="Đa dạng" />
                    </div>
                    <h3 class="title_step">
                        Diverse
                    </h3>
                    <p>
                        We continuously explore and innovate, upgrading our services and creating new ones to meet increasingly diverse customer needs
                    </p>
                </div>
            </div>
            <div class="div_about">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="content_dis">
                            <h2 class="title_module">Your Garment Care Station</h2>
                            <div class="about_desc">
                                <span>
                                    "Looking for a place that specializes in cleaning, caring for, and restoring your beloved clothes — with honesty, professionalism, and heartfelt service as core values? Then you've come to the right place."
                                </span><br>
                                Every piece of clothing brought to us tells its own story. Its mission is not only to cover and protect, but more importantly, to carry your memories and personal moments.<br>

                                So when your clothes become old, worn out, or damaged — don’t rush to throw them away or forget about them. **We** are here to help bring them back to life with a refreshed appearance, ready to stay by your side — and most importantly, to preserve the memories they hold.
                                <br>
                                With a team of passionate young people who love garment care and are constantly learning and improving their skills, **we are confident that we’ll be a trusted destination for your clothing.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="section content_video">
                            <div class=" section banner_video">
                                <img class="lazy img-responsive" src="@Url.Content("~/Content/Client/Images/about.jpg")" alt="Washintown" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>




<section class="awe-section-5">
    <div class="container section_banner_evo_2">
        <a href="gioi-thieu-washintown.html" title="Washintown- Vệ sinh giày toàn diện" class="banner-img">
            <img width="1400" height="438" src="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/feature_banner_0811e.jpg?1751540074929" alt="Washintown- Vệ sinh giày toàn diện" />
        </a>
    </div>
</section>




<section class="awe-section-6">
    <div class="container evo_block-product">
        <div class="e-tabs not-dqtab ajax-tab-1" data-section="ajax-tab-1" data-view="grid_4">
            <div class="content row">
                <div class="col-lg-3 ant-title-tab">
                    <div class="titlecp clearfix" style="color : blue">
                        <h3>Us Service</h3>
                    </div>


                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo_block_product_banner_1811e.jpg?1751540074929">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo_block_product_banner_1811e.jpg?1751540074929">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")thumb/pico/100/431/113/themes/826533/assets/evo_block_product_banner_1811e.jpg?1751540074929">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/pico/100/431/113/themes/826533/assets/evo_block_product_banner_1811e.jpg?1751540074929">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/431/113/themes/826533/assets/evo_block_product_banner_1.jpg?1751540074929" alt="Chăm sóc phục hồi giày" class="lazy img-responsive center-block d-block mx-auto" />
                    </picture>

                </div>
                <div class="col-lg-9">
                    <div class="row">
                        @foreach (var service in Model.Services)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                                <a href="@Url.Action("DetailService", "Home", new { id = service.Id })" class="text-decoration-none text-dark w-100">
                                    <div class="card w-100 shadow-sm border-0 d-flex flex-column h-100">
                                        <div class="card-header bg-white text-center border-bottom">
                                            <h6 class="card-title mb-0 text-truncate" title="@service.Title">@service.Title</h6>
                                        </div>
                                        <div style="height: 180px; overflow: hidden;">
                                            <img src="@Url.Content("~/content/client/")images/@service.Image"
                                                 alt="@service.Title"
                                                 class="w-100 h-100"
                                                 style="object-fit: cover;" />
                                        </div>
                                        <div class="card-body text-center mt-auto">
                                            <p class="text-danger fw-bold mb-0">@string.Format("{0:N0} $", service.Price ?? 0) / @service.Unit</p>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        }
                    </div>



                    <div class="tab-2 tab-content row">

                    </div>

                    <div class="tab-3 tab-content row">

                    </div>

                    <div class="tab-4 tab-content row">

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<section class="awe-section-7">
    <div class="container section_banner_evo">

        <img width="1400" height="392" class="lazy" src="@Url.Content("~/Content/Client/Images/feature_banner.jpg")" data-src="//bizweb.dktcdn.net/100/431/113/themes/826533/assets/feature_banner_4.jpg?1751540074929" alt="Wsahintown - Giặt Ủi & Giặt Hấp" />

    </div>
</section>




<section class="awe-section-8">
    <div class="container evo_block-product">
        <div class="e-tabs not-dqtab ajax-tab-2" data-section="ajax-tab-2" data-view="grid_4">
            <div class="content row">
                <div class="col-lg-3 ant-title-tab">
                    <div class="titlecp clearfix" style="color : blue">
                        <h3>Us Package</h3>
                    </div>

                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo_block_product_banner_2811e.png?1751540074929">
                        <source media="(min-width: 992px)"
                                srcset="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo_block_product_banner_2811e.png?1751540074929">
                        <source media="(min-width: 569px)"
                                srcset="@Url.Content("~/content/client/")thumb/pico/100/431/113/themes/826533/assets/evo_block_product_banner_2811e.jpg?1751540074929">
                        <source media="(max-width: 480px)"
                                srcset="@Url.Content("~/content/client/")thumb/pico/100/431/113/themes/826533/assets/evo_block_product_banner_2811e.jpg?1751540074929">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/100/431/113/themes/826533/assets/evo_block_product_banner_2.jpg?1751540074929" alt="giat-ui-giat-hap" class="lazy img-responsive center-block d-block mx-auto" />
                    </picture>

                </div>
                <div class="col-lg-9">
                    <div class="row">
                        @foreach (var package in Model.Packages)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                                <a href="@Url.Action("DetailPackage", "Home", new { id =package.Id })" class="text-decoration-none text-dark w-100">
                                    <div class="card w-100 shadow-sm border-0 d-flex flex-column h-100">
                                        <div class="card-header bg-white text-center border-bottom">
                                            <h6 class="card-title mb-0 text-truncate" title="@package.Package_Name">@package.Package_Name</h6>
                                        </div>
                                        <div style="height: 180px; overflow: hidden;">
                                            <img src="@Url.Content("~/content/client/")images/@package.Image"
                                                 alt="@package.Package_Name"
                                                 class="w-100 h-100"
                                                 style="object-fit: cover;" />
                                        </div>
                                        <div class="card-body text-center mt-auto">
                                            <p class="text-danger fw-bold mb-0">@string.Format("{0:N0} $", package.Price)</p>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="tab-1 tab-content row">
                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <span class="ant-sale"> 17% </span>

                                    <a class="thumb-img" href="goi-giat-thang-30-kg.html" title="G&#243;i giặt th&#225;ng 30 kg">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/goi-giat-stk1.jpg?v=1627553257950" alt="G&#243;i giặt th&#225;ng 30 kg" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/goi-giat-stk1.jpg?v=1627553257950" alt="G&#243;i giặt th&#225;ng 30 kg" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437414">


                                        <input type="hidden" name="variantId" value="49745853" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="goi-giat-thang-30-kg"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="goi-giat-thang-30-kg.html" title="G&#243;i giặt th&#225;ng 30 kg" class="title">G&#243;i giặt th&#225;ng 30 kg</a>
                                <div class="flex-prices">


                                    <strong class="product-price">250.000₫</strong>

                                    <span class="product-old-price">300.000₫</span>



                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-ao-trang.html" title="Giặt &#225;o trắng">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-ao-trang.jpg?v=1627553258130" alt="Giặt &#225;o trắng" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-ao-trang.jpg?v=1627553258130" alt="Giặt &#225;o trắng" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437228">


                                        <input type="hidden" name="variantId" value="49745856" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-ao-trang"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-ao-trang.html" title="Giặt &#225;o trắng" class="title">Giặt &#225;o trắng</a>
                                <div class="flex-prices">


                                    <strong class="product-price">20.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-balo.html" title="Giặt balo">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-balo.jpg?v=1627553258073" alt="Giặt balo" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-balo.jpg?v=1627553258073" alt="Giặt balo" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437269">


                                        <input type="hidden" name="variantId" value="49745855" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-balo"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-balo.html" title="Giặt balo" class="title">Giặt balo</a>
                                <div class="flex-prices">


                                    <strong class="product-price">69.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-chan-men.html" title="Giặt chăn mền">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-chan-men-nho.jpg?v=1627553258203" alt="Giặt chăn mền" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-chan-men-nho.jpg?v=1627553258203" alt="Giặt chăn mền" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437187">


                                        <input type="hidden" name="variantId" value="49745857" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-chan-men"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-chan-men.html" title="Giặt chăn mền" class="title">Giặt chăn mền</a>
                                <div class="flex-prices">


                                    <strong class="product-price">39.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-gau-bong.html" title="Giặt gấu b&#244;ng">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-gau-bong.jpg?v=1627553258377" alt="Giặt gấu b&#244;ng" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-gau-bong.jpg?v=1627553258377" alt="Giặt gấu b&#244;ng" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437084">


                                        <input type="hidden" name="variantId" value="49745860" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-gau-bong"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-gau-bong.html" title="Giặt gấu b&#244;ng" class="title">Giặt gấu b&#244;ng</a>
                                <div class="flex-prices">


                                    <strong class="product-price">30.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-giay-cao-got.html" title="Vệ sinh gi&#224;y cao g&#243;t">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-giay-cao-got.jpg?v=1627553258317" alt="Vệ sinh gi&#224;y cao g&#243;t" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-giay-cao-got.jpg?v=1627553258317" alt="Vệ sinh gi&#224;y cao g&#243;t" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437120">


                                        <input type="hidden" name="variantId" value="49745859" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-giay-cao-got"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-giay-cao-got.html" title="Vệ sinh gi&#224;y cao g&#243;t" class="title">Vệ sinh gi&#224;y cao g&#243;t</a>
                                <div class="flex-prices">


                                    <strong class="product-price">39.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-say-nhanh.html" title="Giặt sấy cấp tốc">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-say-nhanh.jpg?v=1627553258257" alt="Giặt sấy cấp tốc" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-say-nhanh.jpg?v=1627553258257" alt="Giặt sấy cấp tốc" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437135">


                                        <input type="hidden" name="variantId" value="49745858" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-say-nhanh"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-say-nhanh.html" title="Giặt sấy cấp tốc" class="title">Giặt sấy cấp tốc</a>
                                <div class="flex-prices">


                                    <strong class="product-price">10.000₫</strong>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-6">

                            <div class="evo-product-item">
                                <div class="thumb-evo">

                                    <a class="thumb-img" href="giat-ui-ao-somi.html" title="Giặt ủi &#225;o sơmi">
                                        <span class="tt-img">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-ui-ao-somi.jpg?v=1627553257500" alt="Giặt ủi &#225;o sơmi" />
                                        </span>

                                        <span class="tt-img-roll-over">
                                            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="//bizweb.dktcdn.net/thumb/large/100/431/113/products/giat-ui-ao-somi.jpg?v=1627553257500" alt="Giặt ủi &#225;o sơmi" />
                                        </span>

                                    </a>
                                    <form action="https://washintown.vn/cart/add" method="post" enctype="multipart/form-data" class="product-button hidden-sm hidden-xs hidden-md variants form-nut-grid form-ajaxtocart" data-id="product-actions-22437860">


                                        <input type="hidden" name="variantId" value="49745847" />
                                        <button type="button" title="Thêm vào giỏ" class="action add_to_cart">
                                            <svg x="0px" y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                                            <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
							 c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
							 C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
							 H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
							 c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
				</svg>
                                        </button>


                                        <button class="action btn-wish js-btn-wishlist" title="Thêm vào danh sách yêu thích" data-handle="giat-ui-ao-somi"><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.997 51.997' style='enable-background:new 0 0 51.997 51.997;' xml:space='preserve'><path d='M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z' /></svg></button>
                                    </form>
                                </div>
                                <a href="giat-ui-ao-somi.html" title="Giặt ủi &#225;o sơmi" class="title">Giặt ủi &#225;o sơmi</a>
                                <div class="flex-prices">


                                    <strong class="product-price">20.000₫</strong>


                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="tab-2 tab-content row">

                    </div>

                    <div class="tab-3 tab-content row">

                    </div>

                    <div class="tab-4 tab-content row">

                    </div>

                    <div class="tab-5 tab-content row">

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .icon-wrapper {
        position: relative;
        width: 180px;
        height: 180px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 auto;
    }

        .icon-wrapper::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 2px dashed #87CEFA; /* nét gạch đứt, xanh dương nhạt */
            border-radius: 50%;
            pointer-events: none;
        }

        .icon-wrapper img {
            width: 100px;
            height: 100px;
            z-index: 1;
        }
</style>

@Html.Partial("Client/_PartialFooter")



