
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
@Html.Partial("Client/_PartialBreadCrumb")

<div class="container margin-bottom-20 margin-top-30">
    <h1 class="d-none">Register</h1>
    <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-12">
            <div class="page-login account-box-shadow">
                <div id="login">
                    <div class="evo-account-content">
                        <ul class="auth-block__menu-list">
                            <li>
                                <a href="@Url.Action("Login", "Home")" title="Đăng nhập">Login</a>
                            </li>
                            <li class="active">
                                <a href="" title="Đăng ký">Register</a>
                            </li>
                        </ul>
                        <form method="post" action="@Url.Action("Create_Customer")" id="customer_register" accept-charset="UTF-8">
                            <input name="FormType" type="hidden" value="customer_register" /><input name="utf8" type="hidden" value="true" /><input type="hidden" id="Token-68cd88b928ed4f6197521f1f0550a0d6" name="Token" />
                            <div class="form-signup">

                            </div>
                            <div class="form-signup clearfix">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>First Name<span class="required">*</span></label>
                                            <input placeholder="Input your first name" type="text" class="form-control form-control-lg" value="" name="FirstName" id="FirstName" required data-validation-error-msg="Không được để trống" data-validation="required">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Last Name<span class="required">*</span></label>
                                            <input placeholder="Input your last name" type="text" class="form-control form-control-lg" value="" name="LastName" id="LastName" required data-validation-error-msg="Không được để trống" data-validation="required">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Your phone number<span class="required">*</span></label>
                                            <input placeholder="Input your phone number" type="tel" class="number-phone form-control form-control-lg" value="" name="PhoneNumber" id="PhoneNumber" required data-validation-error-msg="Không được để trống" data-validation="required">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Your password<span class="required">*</span></label>
                                            <input placeholder="Input your password" type="password" class="form-control form-control-lg" value="" name="Password" id="Password" required data-validation-error-msg="Không được để trống" data-validation="required">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Your Address<span class="required">*</span></label>
                                            <input placeholder="Input your address" type="text" class="form-control form-control-lg" value="" name="Address" id="Address" required data-validation-error-msg="Không được để trống" data-validation="required">
                                        </fieldset>
                                    </div>

                                    <div class="col-md-12 text-center margin-top-10">
                                        <button type="submit" value="Đăng ký" class="btn btn-style btn-blues">Create Account</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("Client/_PartialFooter")



