@{ 
    var headerModel = ViewBag.Model as Laundry_Online_Web_FE.Models.ModelViews.DTO.HeaderModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="JUivoHmidZQNUFeNHbtxNZYPW9bf9I2AFQVJ7Fyaytk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Washintown - Vệ sinh giày toàn diện & Giặt ủi tiện lợi mang đến dịch vụ Chuyên Nghiệp và Tiện Lợi với mức giá cực kỳ hợp lý. Washintown là nơi mà Bạn có thể gửi gắm lòng tin và chia sẻ mọi khó khăn.">
    <meta name="keywords" content="vệ sinh giày, vệ sinh giày quận 7, vệ sinh giày sneaker, clean sneaker, chăm sóc giày, phục hồi giày, clean giày, tẩy ố đế giày, repaint giày, repaint đế giày, vệ sinh giày da, chăm sóc giày da, nhuộm giày, nhuộm giày da lộn, giặt ủi, giặt hấp, gặt khô, giặt hấp quận 7, giặt quận 7" />
    <link rel="canonical" href="index.html" />
    <link rel="dns-prefetch" href="index.html">
    <link rel="dns-prefetch" href="http://bizweb.dktcdn.net/">
    <link rel="dns-prefetch" href="http://www.google-analytics.com/">
    <link rel="dns-prefetch" href="http://www.googletagmanager.com/">

    <meta name='revisit-after' content='1 days' />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="theme-color" content="#3399cc" />
    <link rel="icon" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/favicon811e.png?1751540074929" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/favicon811e.png?1751540074929">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Washintown | Chăm sóc giày | Giặt hấp & Giặt ủi">
    <meta property="og:image:alt" content="Washintown | Chăm sóc giày | Giặt hấp & Giặt ủi">
    <meta property="og:image" content="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/logo811e.png?1751540074929">
    <meta property="og:image:secure_url" content="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/logo811e.png?1751540074929">
    <meta property="og:description" content="Washintown - Vệ sinh giày toàn diện & Giặt ủi tiện lợi mang đến dịch vụ Chuyên Nghiệp và Tiện Lợi với mức giá cực kỳ hợp lý. Washintown là nơi mà Bạn có thể gửi gắm lòng tin và chia sẻ mọi khó khăn.">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Washintown">
    <link rel="preload" as="style" type="text/css" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/bootstrap811e.css?1751540074929" onload="this.rel='stylesheet'" />
    <link href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/bootstrap811e.css?1751540074929" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as="style" type="text/css" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-main.scss811e.css?1751540074929" onload="this.rel='stylesheet'" />
    <link href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-main.scss811e.css?1751540074929" rel="stylesheet" type="text/css" media="all" />

    <link rel="preload" as="style" type="text/css" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-index.scss811e.css?1751540074929" onload="this.rel='stylesheet'" />
    <link href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-index.scss811e.css?1751540074929" rel="stylesheet" type="text/css" media="all" />

    <link rel="preload" as="style" type="text/css" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-accounts.scss811e.css?1751540074929" />
    <link href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-accounts.scss811e.css?1751540074929" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/account_order_style.scss811e.css?1751540074929" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as="style" type="text/css" href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-calendar.scss811e.css?1751540074929" />
    <link href="@Url.Content("~/content/client/")100/431/113/themes/826533/assets/evo-calendar.scss811e.css?1751540074929" rel="stylesheet" type="text/css" media="all" />
    <script>
        var eventsListenerScript = document.createElement('script');
        eventsListenerScript.async = true;

        eventsListenerScript.src = "@Url.Content("~/content/client/")dist/js/store_events_listener.min983a.js?v=8ee4227";

        document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    </script>

</head>
<body>
    <div>
        @Html.Partial("Client/_PartialHeader", headerModel)
        @RenderBody()
    </div>
</body>
</html>
